
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="content">


    <h1>Производство железобетонных заборов</h1>


    <p>Наша компания занимает одно из лидирующих позиций на рынке производства и установки декоративных железобетонных заборов в Брянске и Брянской области. Это вызвано рядом показатей:<span class="Apple-tab-span" style="white-space:pre">	</span></p>
    <p>
        <span style="font-size: smaller; "><em>—&nbsp; высокое качество продукции;</em></span><br>
        <span style="font-size: smaller; "><em>—&nbsp;быстрые сроки выполнения работ;</em></span><br>
        <span style="font-size: smaller; "><em>—&nbsp;конкурентоспособные цены.</em></span>
    </p>
    <p>Добиться всего этого не представлялось бы возможным без слаженного процесса производства. &nbsp;</p>
    <p>Многолетний опыт работы и современные технологии позволяют нам эффективно использовать &nbsp;сырьё и материалы. За счет этого снижается себестоимость и, соответственно, цена изделий. Повышение основных технических показателей нашей продукции, таких как морозостойкость и прочность, происходит за счет постоянной экспертизы &nbsp;выпускаемых нами изделий.</p>
    <p><strong>Мы постоянно стараемся отслеживать новые технологии и материалы, необходимые для производства железобетонных изделий.</strong></p>
    <p>Сам процесс &nbsp;производства имеет четкий алгоритм - &nbsp;вначале идет приготовление бетонной смеси. Затем смесь заливается в специальные формы и происходит этап формовки на вибростолах. Далее изделия сушаться &nbsp;и поступают на склад готовой продукции, где потом проходят контроль качества.</p>
    <p>&nbsp;</p>
    <hr color="#854b00" width="570" align="left">
    <div style="background:#cccccc; width:535px;  padding:10px 5px; ">
        <table width="530" border="0" cellpadding="0" cellspacing="5">
            <tbody>
                <tr>
                    <td valign="top"><a class="gallery" rel="foto" title="производство бетонных заборов" href="/userfiles/image/proizv/1.jpg"><img width="100" height="66" alt="производство бетонных заборов" src="/userfiles/image/proizv/1_m.jpg"></a></td>
                    <td valign="top"><a class="gallery" rel="foto" title="производство бетонных заборов" href="/userfiles/image/proizv/2.jpg"><img width="100" height="66" alt="производство бетонных заборов" src="/userfiles/image/proizv/2_m.jpg"></a></td>
                    <td valign="top"><a class="gallery" rel="foto" title="производство бетонных заборов" href="/userfiles/image/proizv/3.jpg"><img width="100" height="66" alt="производство бетонных заборов" src="/userfiles/image/proizv/3_m.jpg"></a></td>
                    <td valign="top"><a class="gallery" rel="foto" title="производство бетонных заборов" href="/userfiles/image/proizv/4.jpg"><img width="100" height="66" alt="производство бетонных заборов" src="/userfiles/image/proizv/4_m.jpg"></a></td>
                    <td valign="top"><a class="gallery" rel="foto" title="производство бетонных заборов" href="/userfiles/image/proizv/5.jpg"><img width="100" height="66" alt="производство бетонных заборов" src="/userfiles/image/proizv/5_m.jpg"></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p>Грамотное руководство, квалифицированные рабочие, и налаженная сеть поставщиков сырья и материалов &nbsp;- вот залог нашего &nbsp;успеха! &nbsp;&nbsp;</p>




</div>
