################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Zabor/bin/Debug/netcoreapp2.0
/Zabor/obj
