
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">


    <h1>Монтаж железобетонных заборов</h1>


    <p>
        <a class="gallery" title="подготовка к установке бетонного забора" href="/images/montage/2.jpg" rel="gallery">
            <img width="200" style="margin-left: 8px; border: 2px #373737 solid;" height="150" align="right" alt="подготовка к установке бетонного забора" src="/images/montage/2.jpg">
        </a>Технология установки бетонных заборов проста, но в тоже время имеет ряд особенностей. Для установки забора не требуется какого-либо специального оборудования. Небольшая бригада рабочих (2-3 человека) осуществляет монтаж &nbsp;за 1-2 дня.&nbsp;
    </p>
    <p>На первом этапе наш специалист произведет замер участка, на котором будет производиться установка железобетонного забора. Замеры производятся с высокой точностью, чтобы избежать накладок по расходу материалов и времени выполнения работ. &nbsp;Также окончательно будет выбрана высота и форма забора.</p>
    <p>На следующем этапе &nbsp;бригада рабочих осуществляет подготовку территории и установку столбов. &nbsp;</p>
    <p>Под каждый столб делается «колодец». Глубина «колодца» составляет около 80 см. &nbsp;После установки столба, &nbsp;в колодец кладут камни &nbsp;или битый кирпич и засыпают песком. Это обеспечивает дополнительную &nbsp;устойчивость. Сверху заливают бетоном.&nbsp;</p>
    <p><u>Есть 2 способа монтажа бетонных плит:</u></p>
    <table>
        <tbody>
            <tr>
                <td width="8%"><span style="font-size: xx-large;  ">1.</span></td>
                <td>
                    <p style="background-color: #cccccc; padding:8px;">Cразу устанавливаются все столбы, а плиты просто «закидываются » через верх. Такой способ требует точного расчета расстояния между столбами и хорошей физической подготовки &nbsp;рабочих, так как одна плита весит в среднем &nbsp;75 кг.</p>
                </td>
            </tr>
            <tr>
                <td><span style="font-size: xx-large;  ">2.</span></td>
                <td>
                    <p style="background-color: #cccccc; padding:8px;">Устанавливается первый столб, затем &nbsp;монтируются все плиты пролета. Второй столб, &nbsp;находясь в еще незабетонированном «колодце» как бы «натаскивается» на данную конструкцию.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a class="gallery" title="монтаж бетонного забора" href="/images/montage/1.jpg" rel="gallery">
            <img width="200" height="140" align="right" style="margin-left: 8px; border: 2px #373737 solid;" alt="монтаж бетонного забора" src="/images/montage/1.jpg">
        </a>
    </p>
    <p><strong>Мы уделяем особое внимание качеству и срочности работ!</strong></p>
    <p>Монтаж производят специалисты с многолетним опытом работы.</p>




</div>