
@{
    ViewData["Title"] = "Железобетонные заборы Брянск |Железобетонные заборы в Брянске|Монтаж железобетонных изделий в Брянской области| Заборы Цены|Заборы из железобетонных изделий|Монтаж";
    ViewData["MetaDescription"] = "Железобетонные заборы в Брянске. Изготовление железобетонных заборов в Брянске и Брянской области";
    ViewData["MetaKeywords"] = "железобетонные заборы,брянск,заборы в Брянске,заборы брянск,забор,монтаж";

    Layout = "_Layout";
}

<div class="">


    <h1>Монтаж железобетонных заборов</h1>


    <p><a class="gallery" title="подготовка к установке бетонного забора" href="/images/montage/2.jpg" rel="gallery">
    <img width="200" style="margin-left: 8px; border: 2px #373737 solid;" height="150" align="right" alt="подготовка к установке бетонного забора" src="/images/montage/2.jpg">
</a>
        Процесс монтажа железобетонных заборов относительно прост, однако необходимо приложить достаточно усилий. Для установки бригаде, состоящих из 2-3 рабочих, специальное оборудование не требуется, выполнение работы займет примерно 1-2 дня.
    </p>
    <p>Процесс монтажа включает в себя несколько этапов. Первый этап представляет собой замер участка, на котором будет производиться установка железобетонного забора. От точности замера зависит расход материалов и время выполнения установки, поэтому этот этап является важным для наших специалистов при выполнении полученного заказа.</p>
    <p>После того, как высота и форма забора будет окончательно выбрана, рабочие подготавливают участок для установки столбов. Для каждого столба формируется «яма», глубиной в 80 см. Далее для дополнительной устойчивости, камни или битый кирпич кладут в «яму», засыпают песком, после чего сверху заливают бетоном</p>
    <p>На последнем этапе визуально просматривают и устраняют разгул столбов, если он есть. Монтируют оставшиеся ряды таким же способом.</p>
    <p><u>Существует 2 способа монтажа бетонных плит:</u></p>
    <table>
        <tbody>
            <tr>
                <td width="8%"><span style="font-size: xx-large;  ">1.</span></td>
                <td>
                    <p style="background-color: #cccccc; padding:8px;">Cразу устанавливаются все столбы, а плиты просто «закидываются » через верх. Такой способ требует точного расчета расстояния между столбами и хорошей физической подготовки &nbsp;рабочих, так как одна плита весит в среднем &nbsp;75 кг.</p>
                </td>
            </tr>
            <tr>
                <td><span style="font-size: xx-large;  ">2.</span></td>
                <td>
                    <p style="background-color: #cccccc; padding:8px;">Устанавливается первый столб, затем &nbsp;монтируются все плиты пролета. Второй столб, &nbsp;находясь в еще незабетонированном «колодце» как бы «натаскивается» на данную конструкцию.</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>
        <a class="gallery" title="монтаж бетонного забора" href="/images/montage/1.jpg" rel="gallery">
            <img width="200" height="140" align="right" style="margin-left: 8px; border: 2px #373737 solid;" alt="монтаж бетонного забора" src="/images/montage/1.jpg">
        </a>
    </p>
    <p><strong>Мы уделяем особое внимание качеству и срочности работ!</strong></p>
    <p>Монтаж производят специалисты с многолетним опытом работы.</p>




</div>