@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="content">


    <h1>Галлерея</h1>


    <div style="text-align:center;">
        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/98.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/98.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/97.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/97.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/96.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/96.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/95.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/95.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/94.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/94.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/93.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/93.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/92.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/92.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/91.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/91.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/90.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/90.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/89.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/89.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/88.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/88.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/87.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/87.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/86.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/86.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/85.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/85.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/84.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/84.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/83.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/83.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/82.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/82.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/81.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/81.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/80.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/80.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/79.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/79.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/78.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/78.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/77.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/77.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/76.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/76.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/75.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/75.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/74.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/74.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/73.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/73.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/72.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/72.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/71.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/71.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/70.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/70.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/69.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/69.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/68.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/68.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/67.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/67.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/66.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/66.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/65.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/65.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/64.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/64.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>

        <div style="float:left; margin-left:30px; margin-top:20px;">
            <a href="/foto_gallery/63.jpg" class="gallery" rel="foto"><img src="/foto_gallery/prewiev/63.jpg" style="border:2px #373737 solid;" alt=""></a>
            <div style="margin-top:7px; text-align:center; "></div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div style="text-align:center; margin-top:30px; margin-bottom:30px;"><b>1</b> | <a href="/foto_gallery/in/2/">2</a> | <a href="/foto_gallery/in/3/">3</a> | <a href="/foto_gallery/in/2/">&gt;</a> | <a href="/foto_gallery/in/3/">&gt;&gt;</a></div>





</div>
