@{
    ViewData["Title"] = "О компании| О нас | Брянск";
    ViewData["MetaDescription"] = "Компания изготовления железобетонных изделий в Брянске. Производство железобетонных заборов в Брянске и Брянской области";
    ViewData["MetaKeywords"] = "нас,компании,железобетонные заборы,брянск,заборы в Брянске,заборы брянск,забор";
}

<div class="">


    <h1>О компании</h1>


    <p>Наша компания на протяжении нескольких лет специализируется на производстве железобетонных заборов, заборов из профлиста и рабицы, садово-парковых изделий, изделий художественной ковки и металлических дверей.</p>
    <p>Результаты нашей работы Вы можете увидеть на территории Брянска и Брянской области.</p>
    <p>Безупречная репутация на рынке строительных материалов была достигнута благодаря использованию только качественного сырья.</p>
    
    
    <p>Мы предоставляемый следующий спектр услуг: замер, изготовление и установка заборов.</p>
    <p>Наши квалификационные работники обладают всеми необходимыми профессиональными навыками, которые используются, для изготовления и установки заборов.</p>
    <p>Если Вы решите воспользоваться нашими услугами, то будьте уверены, что ваш участок в ближайшее время будет оснащен прочным, качественным и уникальным забором!</p>
    

    <table width="630" border="0" align="center" cellpadding="1" cellspacing="1">
        <tbody>
            <tr>
                <td style="text-align: center; "><a class="gallery" rel="foto" title="кованые изделия" href="/images/about/1.jpg">
                    <img width="170" height="128" style="border: 2px #373737 solid;" alt="" src="/images/about/1.jpg">
                </a></td>
                <td style="text-align: center; "><a class="gallery" rel="foto" title="изделия из бетона" href="/images/about/2.jpg">
                    <img width="170" height="128" style="border: 2px #373737 solid;" alt="" src="/images/about/2.jpg">
                </a></td>
                <td style="text-align: center; "><a class="gallery" rel="foto" title="установка бетонных заборов" href="/images/about/3.jpg">
                    <img width="170" style="border: 2px #373737 solid;" height="128" alt="" src="/images/about/3.jpg">
                </a></td>
            </tr>
        </tbody>
    </table>




</div>
