@{
    ViewData["Title"] = "Контакты|Адрес|Брянск|Как проехать";
    ViewData["MetaDescription"] = "Адрес компании в Брянске. Почтовый адрес. Как проехать";
    ViewData["MetaKeywords"] = "контакты,почтовый ящик,брянск,заборы в Брянске,заборы брянск";
}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<div class="">


    <h1>Контакты</h1>


    <p>
        Для связи с нами используйте, расположенные ниже, контактные<br>
        данные:
    </p>
    <p>Адрес: г. Брянск, ул. Речная, 41</p>
    <p>Телефон:<span style="font-size:21px; color:#373737;"> +7 (910) 33-11-433</span></p>
    <p>Телефон:<span style="font-size: 21px; color: rgb(55, 55, 55);"> 370490</span></p>
    <p>E-mail: <a href="/back/">viktor.bubnenko@mail.ru </a></p>


    <div id="map" style="width:524px;height:423px"></div>
    
</div>

<script>
    ymaps.ready(init);
    var myMap, myPlacemark;

    function init() {
        myMap = new ymaps.Map("map", {
            center: [53.265637, 34.400942],
            zoom: 15
        });

        myPlacemark = new ymaps.Placemark([53.267413, 34.39708],
            {
                hintContent: 'Мы находимся здесь!',
                balloonContent: `ул. Речная, 35 <br/> Производство и установка декоративных железобетонных заборов`
            },
            {
                preset: 'islands#glyphIcon'
            });

        var myPolyline = new ymaps.Polyline([
            // Указываем координаты вершин ломаной.
            [ 53.262241, 34.405449],
            [53.262781, 34.403346],
            [53.265637, 34.399054],
            [53.267335, 34.397767]
        ], {
                // Описываем свойства геообъекта.
                // Содержимое балуна.
                balloonContent: "Путь от жд вокзала \"Брянск 1\" в сторону Бежицкого района"
            }, {
                // Задаем опции геообъекта.
                // Отключаем кнопку закрытия балуна.
                balloonCloseButton: true,
                // Цвет линии.
                strokeColor: "#2b9",
                // Ширина линии.
                strokeWidth: 5,
                // Коэффициент прозрачности.
                strokeOpacity: 1
            });


        myMap.geoObjects.add(myPlacemark).add(myPolyline);
    }
</script>