

@{
    ViewData["Title"] = "Бетонные заборы|Плиты|Столбы|Крышки|Брянск";
    ViewData["MetaDescription"] = "Бетонные заборы и плиты. Плиты. Бетонные заборы и стоблы. Стоблы. Бетонные заборы и крышки. ";
    ViewData["MetaKeywords"] = "бетонные заборы,плиты,столб,столбы,крышки,брянск,заборы в Брянске,заборы брянск, столбы в Брянске";

    Layout = "_Layout";
}


<style>
    .thumbnail {
        height: inherit;
    }

        .thumbnail img {
            max-height: 200px;
        }
</style>



<div class="">


    <h1>Бетонные заборы. Плиты</h1>


    <p>Бетонные заборы&nbsp;—&nbsp;это самый популярный вариант установить красивое и надежное ограждение для вашего участка.</p>
    <p>Бетонные заборы наиболее востребованы среди населения. Они прекрасно сочетаются с интерьером дома, есть множество вариаций относительно высоты забора. Также благодаря разнообразию форм и покраски каждый забор может быть уникальным и не похожим на другие. Помимо всего этого бетонным заборам характерна долговечность и высокопрочность.</p>
    <p>На сегодняшний день, при невысокой цене, бетонные заборы&nbsp;—&nbsp;это лучшее предложение для вашего дома или загородного участка.</p>



    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/1.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/2.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/3.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/4.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/5.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/6.png" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/7.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/8.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/9.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/10.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/11.png" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/12.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/13.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/14.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/15.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/16.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/17.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/18.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/19.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/20.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/21.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/22.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/23.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/24.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/25.png" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/26.png" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/27.png" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/28.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/29.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fencePlates/30.jpg" alt="...">
                <div class="caption">
                    <h3>Плита № 20</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">640 x 2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="content">


    <h1>Бетонные заборы.Столбы</h1>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/stolb.jpg" alt="...">
                <div class="caption">
                    <h3>Столб гладкий № 1</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">230 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">1000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/stolb.jpg" alt="...">
                <div class="caption">
                    <h3>Столб гладкий № 2</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">260 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">1500 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/stolb.jpg" alt="...">
                <div class="caption">
                    <h3>Столб гладкий № 3</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">2200 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/stolb.jpg" alt="...">
                <div class="caption">
                    <h3>Столб гладкий № 4</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">350 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">2800 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/stolb.jpg" alt="...">
                <div class="caption">
                    <h3>Столб гладкий № 5</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">500 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">3400 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">

        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/1.jpg" alt="...">
                <div class="caption">
                    <h3>Евроблок № 1</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">150 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary"><span style="font-size: 15px;">300х300х200 мм.</span></span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/2.jpg" alt="...">
                <div class="caption">
                    <h3>Евроблок № 2</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">150 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary"><span style="font-size: 15px;">240х420х200 мм.</span></span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Евроблок № 3</h3>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary"><span style="font-size: 15px;">340х320х240 мм.</span></span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </div>



</div>


<div class="content">


    <h1>Бетонные заборы. Крышки</h1>

    <div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Крышка № 1</h3>
                    <p>Верхняя часть "Еврозабора". Крышка, имеющая форму пирамиды.</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">150 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">380x380 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Крышка № 2</h3>
                    <p>Верхняя часть "Еврозабора". Один из вариантов крышки. </p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">150 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">450x450 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Крышка № 3</h3>
                    <p>Данная крышка устанавливается сверху на плиту. Узор "черепица".</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">250 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary">150x2000 мм.</span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Лев</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary"><span style="font-size: 15px;">340х320х240 мм.</span></span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Орел</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary"><span style="font-size: 15px;">340х320х240 мм.</span></span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Шар</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary"><span style="font-size: 15px;">340х320х240 мм.</span></span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/fenceColumns/3.jpg" alt="...">
                <div class="caption">
                    <h3>Травница</h3>
                    <p>Открытая верхушка забора. Используется в "каменной композиции"( сочетается с плитами № 23 и № 24).</p>
                    <p>
                        <h3>
                            <span title="цена" class="label label-success">300 <i class="fa fa-rub" aria-hidden="true"></i></span>
                            <span title="размер" class="label label-primary"><span style="font-size: 15px;">340х320х240 мм.</span></span>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </div>




</div>
