

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="content">


<h1>Бетонные заборы. Плиты</h1>


<p>Бетонные заборы&nbsp;—&nbsp;это самый популярный вариант установить красивое и надежное ограждение для вашего участка.</p>
<p>Бетонные заборы наиболее востребованы среди населения. Они прекрасно сочетаются с интерьером дома, есть множество вариаций относительно высоты забора. Также благодаря разнообразию форм и покраски каждый забор может быть уникальным и не похожим на другие. Помимо всего этого бетонным заборам характерна долговечность и высокопрочность.</p>
<p>На сегодняшний день, при невысокой цене, бетонные заборы&nbsp;—&nbsp;это лучшее предложение для вашего дома или загородного участка.</p>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 20" rel="zab" href="/userfiles/image/prod/zab/20.jpg"><img alt="" src="/userfiles/image/prod/zab/20_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 20</div>
        <div class="size">Размер: 640x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 300 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/17/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 21" rel="zab" href="/userfiles/image/prod/zab/21n.png"><img alt="" src="/userfiles/image/prod/zab/21n_m.png"></a></div>
    <div class="opisanie">
        <div>Плита № 21</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 300 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/54/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 22" rel="zab" href="/userfiles/image/prod/zab/21.jpg"><img alt="" src="/userfiles/image/prod/zab/21_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 22</div>
        <div class="size">Размер: 600x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 300 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/18/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 23" rel="zab" href="/userfiles/image/prod/zab/22.jpg"><img alt="" src="/userfiles/image/prod/zab/22_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 23</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 300 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/19/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 24" rel="zab" href="/userfiles/image/prod/zab/23.jpg"><img alt="" src="/userfiles/image/prod/zab/23_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 24</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 300 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/20/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 18" rel="zab" href="/userfiles/image/prod/zab/18.jpg"><img alt="" src="/userfiles/image/prod/zab/18_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 18</div>
        <div class="size">Размер: 660x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/21/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 19" rel="zab" href="/userfiles/image/prod/zab/19.jpg"><img alt="" src="/userfiles/image/prod/zab/19_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 19</div>
        <div class="size">Размер: 450x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/22/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 1" rel="zab" href="/userfiles/image/prod/zab/1.jpg"><img alt="" src="/userfiles/image/prod/zab/1_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 1</div>
        <div class="size">Размер: 530x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/23/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 2" rel="zab" href="/userfiles/image/prod/zab/2.jpg"><img alt="" src="/userfiles/image/prod/zab/2_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 2</div>
        <div class="size">Размер: 630x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/24/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 3" rel="zab" href="/userfiles/image/prod/zab/3.jpg"><img alt="" src="/userfiles/image/prod/zab/3_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 3</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/25/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 4" rel="zab" href="/userfiles/image/prod/zab/4.jpg"><img alt="" src="/userfiles/image/prod/zab/4_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 4</div>
        <div class="size">Размер: 630x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/26/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 5" rel="zab" href="/userfiles/image/prod/zab/5.jpg"><img alt="" src="/userfiles/image/prod/zab/5_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 5</div>
        <div class="size">Размер: 630x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/27/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 6" rel="zab" href="/userfiles/image/prod/zab/6n.png"><img alt="" src="/userfiles/image/prod/zab/6n_m.png"></a></div>
    <div class="opisanie">
        <div>Плита № 6</div>
        <div class="size">Размер: 620x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/28/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 29" rel="zab" href="/userfiles/image/prod/zab/DSC02266.png"><img alt="" src="/userfiles/image/prod/zab/DSC02266_m.png"></a></div>
    <div class="opisanie">
        <div>Плита № 29</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/58/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 7" rel="zab" href="/userfiles/image/prod/zab/7.jpg"><img alt="" src="/userfiles/image/prod/zab/7_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 7</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/29/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 8" rel="zab" href="/userfiles/image/prod/zab/8.jpg"><img alt="" src="/userfiles/image/prod/zab/8_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 8</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/30/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 9" rel="zab" href="/userfiles/image/prod/zab/9.jpg"><img alt="" src="/userfiles/image/prod/zab/9_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 9</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/31/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 10" rel="zab" href="/userfiles/image/prod/zab/10.jpg"><img alt="" src="/userfiles/image/prod/zab/10_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 10</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/32/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 12" rel="zab" href="/userfiles/image/prod/zab/12.jpg"><img alt="" src="/userfiles/image/prod/zab/12_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 12</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/34/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 13" rel="zab" href="/userfiles/image/prod/zab/13.jpg"><img alt="" src="/userfiles/image/prod/zab/13_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 13</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/35/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 14" rel="zab" href="/userfiles/image/prod/zab/14.jpg"><img alt="" src="/userfiles/image/prod/zab/14_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 14</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/36/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 15" rel="zab" href="/userfiles/image/prod/zab/15.jpg"><img alt="" src="/userfiles/image/prod/zab/15_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 15</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/37/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 16" rel="zab" href="/userfiles/image/prod/zab/16.jpg"><img alt="" src="/userfiles/image/prod/zab/16_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 16</div>
        <div class="size">Размер: 530x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/38/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 17" rel="zab" href="/userfiles/image/prod/zab/17.jpg"><img alt="" src="/userfiles/image/prod/zab/17_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 17</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/39/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 24" rel="zab" href="/userfiles/image/prod/zab/24.jpg"><img alt="" src="/userfiles/image/prod/zab/24_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 25</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/40/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 26" rel="zab" href="/userfiles/image/prod/zab/26.png"><img alt="" src="/userfiles/image/prod/zab/26_m.png"></a></div>
    <div class="opisanie">
        <div>Плита № 26</div>
        <div class="size">Размер: 600x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/55/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 27" rel="zab" href="/userfiles/image/prod/zab/27.png"><img alt="" src="/userfiles/image/prod/zab/27_m.png"></a></div>
    <div class="opisanie">
        <div>Плита № 27</div>
        <div class="size">Размер: 500x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/56/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 28" rel="zab" href="/userfiles/image/prod/zab/28.png"><img alt="" src="/userfiles/image/prod/zab/28_m.png"></a></div>
    <div class="opisanie">
        <div>Плита № 28</div>
        <div class="size">Размер: 250x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 250 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/57/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 30" rel="zab" href="/userfiles/image/prod/zab/30.jpg"><img alt="" src="/userfiles/image/prod/zab/30_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 30</div>
        <div class="size">Размер: 250x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/61/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 31" rel="zab" href="/userfiles/image/prod/zab/31.jpg"><img alt="" src="/userfiles/image/prod/zab/31_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 31</div>
        <div class="size">Размер: 250x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/62/">Подробнее</a>...</div>
    </div>
</div>
<div class="product">
    <div class="foto_prod"><a class="gallery" title="Плита № 32" rel="zab" href="/userfiles/image/prod/zab/32.jpg"><img alt="" src="/userfiles/image/prod/zab/32_m.jpg"></a></div>
    <div class="opisanie">
        <div>Плита № 32</div>
        <div class="size">Размер: 250x2000 мм.</div>
        <div class="price"><span style="color:#0027cf;">Цена:</span> 280 руб.</div>
        <div class="price" style="margin-top:5px;"><a href="/mc/63/">Подробнее</a>...</div>
    </div>
</div>




</div>

<div class="content">


    <h1>Бетонные заборы.Столбы</h1>


    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Столб гладкий" rel="zab" href="/userfiles/image/prod/stolb/stolb.jpg"><img width="300" height="67" alt="бетонные заборы" style="margin-top:20px;" src="/userfiles/image/prod/stolb/stolb_m.jpg"></a></div>
        <div class="opisanie">
            <div>Столб гладкий № 1</div>
            <div class="size">Высота: 1000 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 230 руб.</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Столб гладкий" href="/userfiles/image/prod/stolb/stolb.jpg" rel="gallery"><img width="300" height="67" alt="бетонные заборы" style="margin-top:20px;" src="/userfiles/image/prod/stolb/stolb_m.jpg"></a></div>
        <div class="opisanie">
            <div>Столб гладкий № 2</div>
            <div class="size">Высота: 1500 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 260 руб.</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Столб гладкий" href="/userfiles/image/prod/stolb/stolb.jpg" rel="gallery"><img width="300" height="67" alt="бетонные заборы" style="margin-top:20px;" src="/userfiles/image/prod/stolb/stolb_m.jpg"></a></div>
        <div class="opisanie">
            <div>Столб гладкий № 3</div>
            <div class="size">Высота: 2200 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 300 руб.</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Столб гладкий" href="/userfiles/image/prod/stolb/stolb.jpg" rel="gallery"><img width="300" height="67" alt="бетонные заборы" style="margin-top:20px;" src="/userfiles/image/prod/stolb/stolb_m.jpg"></a></div>
        <div class="opisanie">
            <div>
                <div>Столб гладкий № 4</div>
                <div class="size">Высота: 2800 мм.</div>
                <div class="price"><span style="color: rgb(0, 39, 207);">Цена:</span>&nbsp;350 руб.</div>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Столб гладкий" href="/userfiles/image/prod/stolb/stolb.jpg" rel="gallery"><img width="300" height="67" alt="бетонные заборы" style="margin-top:20px;" src="/userfiles/image/prod/stolb/stolb_m.jpg"></a></div>
        <div class="opisanie">
            <div>Столб гладкий № 5</div>
            <div class="size">Высота: 3400 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 500 руб.</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" rel="zab" title="Евроблок № 1" href="/userfiles/image/prod/stolb/evro1.jpg"><img alt="бетонные заборы" style="margin-left:40px;" src="/userfiles/image/prod/stolb/Resize%20of%20evro1.jpg"></a></div>
        <div class="opisanie">
            <div>Евроблок № 1</div>
            <div class="size">Размер: 300х300х200 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 150 руб.</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" rel="zab" title="Евроблок № 2" href="/userfiles/image/prod/stolb/evro2.jpg"><img alt="бетонные заборы" style="margin-left:40px;" width="170" height="102" src="/userfiles/image/prod/stolb/Resize%20of%20evro2.jpg"></a></div>
        <div class="opisanie">
            <div>Евроблок № 2</div>
            <div class="size">Размер: 240х420х200 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 150 руб.</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" rel="zab" title="Евроблок № 3" href="/userfiles/image/prod/stolb/evro3.jpg"><img alt="бетонные заборы" style="margin-left:40px;" width="170" src="/userfiles/image/prod/stolb/evro3_m.jpg"></a></div>
        <div class="opisanie">
            <div>Евроблок № 3</div>
            <div class="size">Размер: 340х320х240 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 300 руб.</div>
        </div>
    </div>




</div>


<div class="content">


    <h1>Бетонные заборы. Крышки</h1>


    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Крышка № 1" rel="zab" href="/userfiles/image/prod/krish/krish1.jpg"><img width="200" height="94" alt="" src="/userfiles/image/prod/krish/krish1_m.jpg"></a></div>
        <div class="opisanie">
            <div>Крышка № 1</div>
            <div class="size">Размер: 380x380 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 150 руб.</div>
            <div class="price" style="margin-top:5px;"><a href="/mc/41/">Подробнее</a>...</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Крышка № 2" rel="zab" href="/userfiles/image/prod/krish/krish2.jpg"><img width="200" height="88" alt="" src="/userfiles/image/prod/krish/krish2_m.jpg"></a></div>
        <div class="opisanie">
            <div>Крышка № 2</div>
            <div class="size">Размер: 450x450 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 150 руб.</div>
            <div class="price" style="margin-top:5px;"><a href="/mc/42/">Подробнее</a>...</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Крышка № 3" rel="zab" href="/userfiles/image/prod/krish/krish3.jpg"><img alt="" src="/userfiles/image/prod/krish/krish3_m.jpg"></a></div>
        <div class="opisanie">
            <div>Крышка № 3</div>
            <div class="size">Размер: 150x2000 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 250 руб.</div>
            <div class="price" style="margin-top:5px;"><a href="/mc/59/">Подробнее</a>...</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Лев" rel="zab" href="/userfiles/image/prod/krish/lev.jpg"><img alt="" style="margin-left:80px;" src="/userfiles/image/prod/krish/lev_m.jpg"></a></div>
        <div class="opisanie">
            <div>Лев</div>
            <div class="size">Высота: 400 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 700 руб.</div>
            <div class="price" style="margin-top:5px;"><a href="/mc/43/">Подробнее</a>...</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Орел" rel="zab" href="/userfiles/image/prod/krish/orel.jpg"><img width="46" height="100" alt="" style="margin-left:80px;" src="/userfiles/image/prod/krish/orel_m.jpg"></a></div>
        <div class="opisanie">
            <div>Орел</div>
            <div class="size">Высота: 620 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 1000 руб.</div>
            <div class="price" style="margin-top:5px;"><a href="/mc/44/">Подробнее</a>...</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Шар" rel="zab" href="/userfiles/image/prod/krish/har.jpg"><img width="75" height="100" alt="" style="margin-left:65px;" src="/userfiles/image/prod/krish/har_m.jpg"></a></div>
        <div class="opisanie">
            <div>Шар</div>
            <div class="size">Высота: 200 мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 150 руб.</div>
            <div class="price" style="margin-top:5px;"><a href="/mc/45/">Подробнее</a>...</div>
        </div>
    </div>
    <div class="product">
        <div class="foto_prod"><a class="gallery" title="Травница" rel="zab" href="/userfiles/image/prod/krish/travn.png"><img alt="" src="/userfiles/image/prod/krish/travn_m.png"></a></div>
        <div class="opisanie">
            <div>Травница</div>
            <div class="size">600х400х100мм.</div>
            <div class="price"><span style="color:#0027cf;">Цена:</span> 450 руб./кв.м</div>
            <div class="price" style="margin-top:5px;"><a href="/mc/64/">Подробнее</a>...</div>
        </div>
    </div>




</div>
