

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container">


    <h1>Заборы из профлиста</h1>


    <p class="MsoNormal"><strong>Заборы из профлиста&nbsp;—&nbsp;это современное решение старых проблем.</strong></p>
    <p class="MsoNormal">Такое ограждение внешне стильно выглядит, обладает высокой прочностью и невысокой ценой.<span style="mso-spacerun:yes">&nbsp; </span>Если вы хотите оградить себя и свой участок от посторонних взглядов, то заборы из профнастила- это отличный вариант. Вы сможете подобрать цет и фактуру забора так, чтобы ваш забор гармонично сочетался с вашим коттеджем или дачей. За ним не нужен никакой уход и срок службы не ограничен, так как забор состоит из высокопрочных и долговечных материалов.</p>
    <p class="MsoNormal">Заборы из профлиста настолько популярны, что их востребованности можно позавидовать.</p>
    <table width="100%" border="0" align="center" cellpadding="4" cellspacing="4">
        <tbody>
            <tr>
                <td align="center" valign="top"><a title="забор из проф-листа" class="gallery" rel="foto" href="/images/sheetMetal/1.jpg">
                    <img width="200" height="150" alt="забор из проф-листа" style="border: 2px #373737 solid;" src="/images/sheetMetal/1.jpg">
                </a></td>
                <td align="center" valign="top"><a title="забор из проф-листа" class="gallery" rel="foto" href="/images/sheetMetal/2.jpg">
                    <img width="200" height="150" alt="забор из проф-листа" style="border: 2px #373737 solid;" src="/images/sheetMetal/2.jpg">
                </a></td>
                <td align="center" valign="top"><a title="забор из проф-листа" class="gallery" rel="foto" href="/images/sheetMetal/3.jpg">
                    <img width="200" height="150" alt="забор из проф-листа" style="border: 2px #373737 solid;" src="/images/sheetMetal/3.jpg">
                </a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="забор из проф-листа" class="gallery" rel="foto" href="/images/sheetMetal/4.jpg">
                    <img width="200" height="150" alt="забор из проф-листа" style="border: 2px #373737 solid;" src="/images/sheetMetal/4.jpg">
                </a></td>
                <td align="center" valign="top"><a title="забор из проф-листа" class="gallery" rel="foto" href="/images/sheetMetal/5.jpg">
                    <img width="200" height="150" alt="забор из проф-листа" style="border: 2px #373737 solid;" src="/images/sheetMetal/5.jpg">
                </a></td>
                <td align="center" valign="top"><a title="забор из проф-листа" class="gallery" rel="foto" href="/images/sheetMetal/6.jpg">
                    <img width="200" height="150" alt="забор из проф-листа" style="border: 2px #373737 solid;" src="/images/sheetMetal/6.jpg">
                </a></td>
            </tr>
        </tbody>
    </table>




</div>
