

@{
    ViewData["Title"] = "Заборы из рабицы|Рабица||Брянск";
    ViewData["MetaDescription"] = "Заборы из рабицы. Рабица. Бетонные заборы и рабица.";
    ViewData["MetaKeywords"] = "заборы из рабицы,забор рабица,брянск,рабица в Брянске,заборы брянск, рабица Брянск";

    Layout = "_Layout";
}
<div class="">


    <h1>Заборы из рабицы</h1>


    <p>Заборы из сетки рабицы - отличное решение для ограждения загородной недвижимости, садовых обществ, дачных участков.</p><p> Наша компания предоставляет заборы из сетки рабицы высокого качества и по низкой цене.</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/slave/1.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/slave/2.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/slave/3.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/slave/4.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/slave/5.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/slave/6.jpg" alt="...">
            </div>
        </div>
    </div>



</div>
