

@{
    ViewData["Title"] = "Рассчёт стоимости бетонного забора | Брянск";
    ViewData["MetaDescription"] = "Рассчёт стоимости бетонного забора в Брянске и Брянской области";
    ViewData["MetaKeywords"] = "рассчёт стоимости бетонного забора,заборы в Брянске,брянск,стоимость заборов брянск,заборы брянск";

    Layout = "_Layout";
}


<style>
    td {
        text-align: right;
    }
</style>

<div class="content">


    <h1>Рассчёт стоимости бетонного забора</h1>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody id="calculate-table">
                    <tr>
                        <td>
                            <label>Название плиты</label>
                        </td>
                        <td>
                            <select id="price" class="form-control input-sm">
                                <option value="280">
                                    Плита № 1
                                </option>
                                <option value="280">
                                    Плита № 2
                                </option>
                                <option value="280">
                                    Плита № 3
                                </option>
                                <option value="280">
                                    Плита № 4
                                </option>
                                <option value="280">
                                    Плита № 5
                                </option>
                                <option value="280">
                                    Плита № 6
                                </option>
                                <option value="280">
                                    Плита № 7
                                </option>
                                <option value="280">
                                    Плита № 8
                                </option>
                                <option value="280">
                                    Плита № 9
                                </option>
                                <option value="280">
                                    Плита № 10
                                </option>
                                <option value="280">
                                    Плита № 11
                                </option>
                                <option value="280">
                                    Плита № 12
                                </option>
                                <option value="280">
                                    Плита № 13
                                </option>
                                <option value="280">
                                    Плита № 14
                                </option>
                                <option value="280">
                                    Плита № 15
                                </option>
                                <option value="280">
                                    Плита № 16
                                </option>
                                <option value="280">
                                    Плита № 17
                                </option>
                                <option value="280">
                                    Плита № 18
                                </option>
                                <option value="280">
                                    Плита № 19
                                </option>
                                <option value="300">
                                    Плита № 20
                                </option>
                                <option value="300">
                                    Плита № 21
                                </option>
                                <option value="300">
                                    Плита № 22
                                </option>
                                <option value="300">
                                    Плита № 23
                                </option>
                                <option value="300">
                                    Плита № 24
                                </option>
                                <option value="280">
                                    Плита № 25
                                </option>
                                <option value="280">
                                    Плита № 26
                                </option>
                                <option value="280">
                                    Плита № 27
                                </option>
                                <option value="250">
                                    Плита № 28
                                </option>
                                <option value="280">
                                    Плита № 29
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Длина забора</label>
                        </td>
                        <td><input id="length" class="form-control input-sm" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Количество поворотов</label>
                        </td>
                        <td><input id="turns" class="form-control input-sm" /></td>
                    </tr>
                    <tr>
                        <td>
                            <label>Высота забора</label>
                        </td>
                        <td>
                            <select id="height" class="form-control input-sm">
                                @*<option value="300">
                                    0.5
                                </option>
                                <option value="350">
                                    1
                                </option>
                                <option value="400">
                                    1.5
                                </option>
                                <option value="450">
                                    2
                                </option>
                                <option value="550">
                                    2.5
                                </option>*@
                                <option value="0.5">
                                    0.5
                                </option>
                                <option value="1">
                                    1
                                </option>
                                <option value="1.5">
                                    1.5
                                </option>
                                <option value="2">
                                    2
                                </option>
                                <option value="2.5">
                                    2.5
                                </option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button id="calculate" class="btn btn-primary">Рассчитать</button>

    <script>
        var buttton = document.getElementById("calculate");
        buttton.addEventListener("click", function () {
            debugger;
            var oldTr = document.getElementsByClassName("tr_sum");
            if (oldTr.length > 0)
                oldTr[0].remove();

            var table = document.getElementById("calculate-table");
            var tr = document.createElement("tr");
            tr.classList.add("tr_sum");
            var td1 = document.createElement("td");
            var td2 = document.createElement("td");
            debugger;
            td1.innerHTML = "<label>Итого</label>";

            
            var lengtn = $("#length").val() || 0;
            var height = $("#height").val() || 0;
            var turns = $("#turns").val() || 0;
            var price = $("#price").val() || 0;

            var stolbs = Math.ceil(lengtn / 2) + 1 + turns;
            var spaces = Math.ceil(lengtn / 2);

            var sum = spaces * price * height * 2 + stolbs * 230;
            var sumStr = `${sum+400} руб`;

            td2.innerHTML = `<span style=\"float:left;font-weight:bold;\">${sumStr}</span>`;


            tr.appendChild(td1);
            tr.appendChild(td2);
            table.appendChild(tr);
        });

    </script>





</div>
