

@{
    ViewData["Title"] = "Металлические двери | Металлические двери в Брянске | Брянск";
    ViewData["MetaDescription"] = "Металлические двери.Металлические двери в Брянске.";
    ViewData["MetaKeywords"] = "металлические двери,брянск,металлические двери в Брянске,металлические двери брянск,металлические двери";

    Layout = "_Layout";
}

<div class="">


    <h1>Металлические двери в Брянске</h1>


    <p>В нашей компании можно купить входные <strong>металлические двери</strong> различной ценовой категории: от экономичных, доступных людям с небольшим достатком, до эксклюзивных моделей, изготавливаемых индивидуально на заказ.</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/1.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/2.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/3.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/4.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/5.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/6.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/7.png" alt="...">
            </div>
        </div>
    </div>

</div>
