

@{
    ViewData["Title"] = "Металлические двери | Металлические двери в Брянске | Брянск";
    ViewData["MetaDescription"] = "Металлические двери.Металлические двери в Брянске.";
    ViewData["MetaKeywords"] = "металлические двери,брянск,металлические двери в Брянске,металлические двери брянск,металлические двери";

    Layout = "_Layout";
}

<div class="">


    <h1>Металлические двери</h1>


    <p>Двери являются одним из важнейших элементов в конструкции дома, так как отвечают за безопасность и эстетическую завершенность жилища. Наша компания предлагает широкий выбор металлических дверей по разным ценовым категориям. Также мы предоставляем услуги по изготовлению эксклюзивных моделей. Специалисты нашей компании подберут двери, которые будут идеально подходить к интерьеру Вашего дома</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/1.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/2.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/3.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/4.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/5.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/6.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/doors/7.png" alt="...">
            </div>
        </div>
    </div>

</div>
