

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="content">


    <h1>Металлические двери в Брянске</h1>


    <p>В нашей компании можно купить входные <strong>металлические двери</strong> различной ценовой категории: от экономичных, доступных людям с небольшим достатком, до эксклюзивных моделей, изготавливаемых индивидуально на заказ.</p>
    <table width="100%" border="0" align="center" cellpadding="4" cellspacing="4">
        <tbody>
            <tr>
                <td align="center" valign="top"><a title="металлические двери" class="gallery" rel="foto" href="/userfiles/image/dver/DSCN2504.png"><img width="200" height="132" alt="металлические двери" style="border:2px #373737 solid;" src="/userfiles/image/dver/DSCN2504_m.jpg" class="gallery" rel="gallery"></a></td>
                <td align="center" valign="top"><a title="металлические двери" class="gallery" rel="foto" href="/userfiles/image/dver/DSCN2510.png"><img width="200" height="132" alt="металлические двери" style="border:2px #373737 solid;" src="/userfiles/image/dver/DSCN2510_m.jpg" class="gallery" rel="gallery"></a></td>
                <td align="center" valign="top"><a title="металлические двери" class="gallery" rel="foto" href="/userfiles/image/dver/DSCN2513.png"><img width="200" height="132" alt="металлические двери" style="border:2px #373737 solid;" src="/userfiles/image/dver/DSCN2513_m.jpg" class="gallery" rel="gallery"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="металлические двери" class="gallery" rel="foto" href="/userfiles/image/dver/DSCN2529.png"><img width="200" height="132" alt="металлические двери" style="border:2px #373737 solid;" src="/userfiles/image/dver/DSCN2529_m.jpg" class="gallery" rel="gallery"></a></td>
                <td align="center" valign="top"><a title="металлические двери" class="gallery" rel="foto" href="/userfiles/image/dver/DSCN2530.png"><img width="200" height="132" alt="металлические двери" style="border:2px #373737 solid;" src="/userfiles/image/dver/DSCN2530_m.jpg" class="gallery" rel="gallery"></a></td>
                <td align="center" valign="top"><a title="металлические двери" class="gallery" rel="foto" href="/userfiles/image/dver/DSCN2534.png"><img width="200" height="132" alt="металлические двери" style="border:2px #373737 solid;" src="/userfiles/image/dver/DSCN2534_m.jpg" class="gallery" rel="gallery"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="металлические двери" class="gallery" rel="foto" href="/userfiles/image/dver/DSCN2536.png"><img width="200" height="132" alt="металлические двери" style="border:2px #373737 solid;" src="/userfiles/image/dver/DSCN2536_m.jpg" class="gallery" rel="gallery"></a></td>
                <td align="center" valign="top">&nbsp;</td>
                <td align="center" valign="top">&nbsp;</td>
            </tr>
        </tbody>
    </table>




</div>
