

@{
    ViewData["Title"] = "Ковка | Художественная ковка | Брянск";
    ViewData["MetaDescription"] = "Художественная ковка. Художественная ковка в Брянске.";
    ViewData["MetaKeywords"] = "изделия художественной ковки,художественная ковка,брянск,художественная ковка в Брянске,художественная ковка брянск,ковка брянск,ковка";

    Layout = "_Layout";
}




<div class="">


    <h1>Ковка</h1>


    <p>Изделия художественной ковки – это сочетание изящества и прочности. Они долговечны и не требуют никакого особого ухода. &nbsp;Можете быть уверены, &nbsp;что ковка никогда не выйдет из моды. Наряду с типовыми решениями, мы можем изготовить любой индивидуальный заказ по Вашему эскизу. Если вы хотите создать уникальный стиль для своего интерьера &nbsp;– &nbsp;это именно то, что вам нужно.&nbsp;</p>
    
    
    
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/1.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/2.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/3.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/1.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/2.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/3.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/4.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/5.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/forge/6.jpg" alt="...">
            </div>
        </div>
    </div>
    
    
</div>
