

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="content">


    <h1>Ковка</h1>


    <p>Изделия художественной ковки – это сочетание изящества и прочности. Они долговечны и не требуют никакого особого ухода. &nbsp;Можете быть уверены, &nbsp;что ковка никогда не выйдет из моды. Наряду с типовыми решениями, мы можем изготовить любой индивидуальный заказ по Вашему эскизу. Если вы хотите создать уникальный стиль для своего интерьера &nbsp;– &nbsp;это именно то, что вам нужно.&nbsp;</p>
    <table width="100%" border="0" align="center" cellpadding="4" cellspacing="4">
        <tbody>
            <tr>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/File0002.jpg"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/Resize%20of%20File0002.jpg"></a></td>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/File0013_02.jpg"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/Resize of File0013_02.jpg"></a></td>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/File0015_01.jpg"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/Resize of File0015_01.jpg"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/File0018_01.jpg"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/Resize of File0018_01.jpg"></a></td>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/P1020788.jpg"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/Resize of P1020788.jpg"></a></td>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/P1030768.jpg"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/Resize of P1030768.jpg"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/DSCN2055.png"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/DSCN2055_m.jpg" class="gallery" rel="gallery"></a></td>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/DSCN2212.png"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/DSCN2212_m.jpg" class="gallery" rel="gallery"></a></td>
                <td align="center" valign="top"><a title="ковка" class="gallery" rel="foto" href="/userfiles/image/kovka/DSCN2514.png"><img width="200" height="132" alt="ковка" style="border:2px #373737 solid;" src="/userfiles/image/kovka/DSCN2514_m.jpg" class="gallery" rel="gallery"></a></td>
            </tr>
        </tbody>
    </table>




</div>
