

@{
    ViewData["Title"] = "Металлические ворота | Металлические ворота для частного дома | Брянск";
    ViewData["MetaDescription"] = "Металлические ворота. Металлические ворота в Брянске.";
    ViewData["MetaKeywords"] = "металлические ворота,брянск,Металлические ворота в Брянске,навесы брянск,ворота";

    Layout = "_Layout";
}


<div class="">


    <h1>Металлические ворота</h1>


    <p>Металлические ворота – это традиционные решения, которые популярны во все времена. Надежные и прочные ворота будут гарантом не только безопасности, но и эффектным обрамлением вашей территории. Конструкции с элементами ковки создают неповторимый стиль оформления территории объекта, будь-то частный дом или офисное здание.</p>


    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/1.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/2.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/3.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/4.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/5.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/6.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/7.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/8.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/9.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/10.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/11.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/12.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/13.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/14.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/15.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/16.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/17.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/18.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/19.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/20.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/21.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/22.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/23.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/24.jpg" alt="...">
            </div>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/25.jpeg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/26.jpeg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/27.jpeg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/gates/28.jpeg" alt="...">
            </div>
        </div>

    </div>

</div>