

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="content">


    <h1>Металлические ворота</h1>


    <p>Ворота имеют такое значение по отношению к дому, как, например, фотография в паспорте, поэтому к выбору ворот стоит относиться ответственно.</p>
    <p>Металлические ворота&nbsp;—&nbsp;это самый оптимальный путь решения данной задачи . Они прекрасно сочетаются с заборами из профлиста, бетона, камня и пр. Существует множество вариаций форм и ковки металлических ворот, благодаря чему вы без труда сможете выбрать ворота наиболее подходящие вашему ограждению. Также металлические ворота отличаются высокой надежностью и долговечностью. Если вы выбрали металлические ворота вы можете больше не беспокоиться, ваш дом под надежной охраной.</p>
    <div>&nbsp;</div>
    <table width="100%" border="0" align="center" cellpadding="4" cellspacing="4">
        <tbody>

            <tr>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/70.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/70.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/77.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/77.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/52.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/52.jpg"></a></td>
            </tr>

            <tr>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/57.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/57.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/63.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/63.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/66.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/66.jpg"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/49.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/49.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/51.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/51.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/53.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/53.jpg"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/userfiles/image/prod/vorota/1.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/userfiles/image/prod/vorota/Resize%20of%201.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/userfiles/image/prod/vorota/2.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/userfiles/image/prod/vorota/Resize%20of%202.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/userfiles/image/prod/vorota/3.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/userfiles/image/prod/vorota/Resize%20of%203.jpg"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/userfiles/image/prod/vorota/4.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/userfiles/image/prod/vorota/Resize%20of%204.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/userfiles/image/prod/vorota/5.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/userfiles/image/prod/vorota/Resize%20of%205.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/userfiles/image/prod/vorota/6.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/userfiles/image/prod/vorota/Resize%20of%206.jpg"></a></td>
            </tr>
            <tr>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/33.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/33.jpg"></a></td>
                <td align="center" valign="top"><a title="ворота" class="gallery" rel="foto" href="/foto_gallery/32.jpg"><img width="200" height="150" alt="ворота" style="border:2px #373737 solid;" src="/foto_gallery/prewiev/32.jpg"></a></td>
                <td align="center" valign="top">&nbsp;</td>
            </tr>
        </tbody>
    </table>




</div>