

@{
    ViewData["Title"] = "Скамейки | Скамейка | Скамейка для двора | Брянск";
    ViewData["MetaDescription"] = "Скамейки. Скамейки в Брянске.";
    ViewData["MetaKeywords"] = "скамейка,брянск,скамейка в Брянске,скамейка брянск";

    Layout = "_Layout";
}

<div class="">


    <h1>Скамейки</h1>


    <p>Конечно, все мы хотим, чтобы мебель на приусадебном участке была такой, чтобы можно было бы наслаждаться комфортом и отдыхом. В тандеме со столами и стульями нашего производства, скамейки создадут замечательный комплект мебели для вашего участка. Наши скамейки прочны и долговечны, а так же отвечают всем требованиям современного дизайна.</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/benches/1.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/benches/2.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/benches/3.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/benches/4.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/benches/5.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/benches/6.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/benches/7.jpg" alt="...">
            </div>
        </div>
    </div>


   



</div>
