@model object

@{
    ViewData["Title"] = "Навесы | Навесы для дома | Брянск";
    ViewData["MetaDescription"] = "Навесы. Навесы в Брянске.";
    ViewData["MetaKeywords"] = "навесы,брянск,навесы в Брянске,навесы брянск";

    Layout = "_Layout";
}

<div class="">


    <h1>Навесы</h1>


    <p>@*Не каждый день стоит безоблачная погода. Но дождь это не повод отказываться от посиделок на свежем воздухе. &nbsp;Или же другой вариант – палящее солнце, и все чего хочется тени и прохлады. И если для строительства массивной веранды нет ни места, ни желания, навес – идеальное решение. &nbsp;Его размеры будут ограничены лишь вашими пожеланиями. &nbsp;*@</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/1.jpg" alt="...">
            </div>
        </div>
        @*<div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/2.jpg" alt="...">
            </div>
        </div>*@
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/3.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/4.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/5.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/6.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/7.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/8.jpeg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/9.jpeg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/canopies/10.jpeg" alt="...">
            </div>
        </div>
    </div>


</div>
