@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="content">


    <h1>Стулья</h1>


    <p>Садовые стулья необходимый предмет любой наружной мебели. Они залог комфортного отдыха на вашем дачном участке или дворе. &nbsp;На сегодняшний день перед нами всевозможные варианты стульев из различного &nbsp;материала, цветов и форм. Пластмассовые, раскладные и охотничьи стулья хоть и &nbsp;более доступны по цене, но проигрывают кованым как по внешнему виду, так и по качеству, практичности &nbsp;и долговечности. Наша компания предлагает кованые стулья различных форм и фактур.&nbsp;</p>
    <table width="100%" border="0" align="center" cellpadding="4" cellspacing="4">
        <tbody>
        <tr>
            <td align="center" valign="top"><a title="стулья" class="gallery" rel="foto" href="/userfiles/image/sadovo/04.jpg"><img width="200" height="132" alt="стулья" style="border:2px #373737 solid;" src="/userfiles/image/sadovo/Resize of 04.jpg"></a></td>
            <td align="center" valign="top"><a title="стулья" class="gallery" rel="foto" href="/userfiles/image/sadovo/File0002.jpg"><img width="200" height="132" alt="стулья" style="border:2px #373737 solid;" src="/userfiles/image/sadovo/Resize of File0002.jpg"></a></td>
            <td align="center" valign="top"><a title="стулья" class="gallery" rel="foto" href="/userfiles/image/sadovo/StK1bG.jpg"><img width="200" height="132" alt="стулья" style="border:2px #373737 solid;" src="/userfiles/image/sadovo/Resize of StK1bG.jpg"></a></td>
        </tr>
        </tbody>
    </table>




</div>
