

@{
    ViewData["Title"] = "Мангалы | Мангал | Мангал для жарки | Брянск";
    ViewData["MetaDescription"] = "Мангалы. Мангалы в Брянске.";
    ViewData["MetaKeywords"] = "мангалы,брянск,мангалы в Брянске,мангал брянск";

    Layout = "_Layout";
}

<div class="">


    <h1>Мангалы</h1>


    <p>Собраться большой компанией на свежем воздухе и пожарить шашлык – одно из лучших время препровождений в теплое время года. &nbsp;Сегодня мангал – непременный атрибут любой такой посиделки. &nbsp;У хорошего хозяина мангал обязательно будет и функциональным, и красивым. Именно такие мангалы мы предлагаем вашему вниманию.&nbsp;</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/chargrills/1.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/chargrills/2.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/chargrills/3.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/chargrills/4.png" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/chargrills/5.jpg" alt="...">
            </div>
        </div>

    </div>





</div>
