

@{
    ViewData["Title"] = "Столы|Стол|Стол для двора|Брянск";
    ViewData["MetaDescription"] = "Столы. Столы из Брянска.";
    ViewData["MetaKeywords"] = "стол,столы,брянск,столы в Брянске,стол брянск";

    Layout = "_Layout";
}

<div class="">


    <h1>Столы</h1>


    <p>@*Садовые столы просто незаменимы для создания уютной домашней атмосферы в вашем дворе. В сочетании с набором стульев создадут интересные садовые группы. Столы из дерева и металла наиболее долговечны, прекрасно переносят любые капризы природы и имеют отличный внешний вид. &nbsp;Для Вас мы можем изготовить столы различных размеров, учитывая все ваши пожелания.&nbsp;*@</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/tables/1.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/tables/2.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/tables/3.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/tables/4.png" alt="...">
            </div>
        </div>
    </div>

   




</div>
