

@{
    ViewData["Title"] = "Козырьки | Козырьки для дома | Брянск";
    ViewData["MetaDescription"] = "Козырьки. Козырьки в Брянске.";
    ViewData["MetaKeywords"] = "козырьки,брянск,козырьки в Брянске,козырьки брянск";

    Layout = "_Layout";
}


<div class="">


    <h1>Козырьки</h1>


    <p>@*Козырек над входом – первое, что видят приходящие в Ваш дом. Раньше козырьки изготавливались кузнецами вручную, поэтому были элементом роскоши и показателем достатка. Но времена когда они были доступны лишь немногим давно прошли. Сегодня установка козырька доступна очень многим и не требует крупных финансовых затрат. &nbsp;Козырек укроет от дождя и зноя и украсят фасад Вашего дома.*@</p>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/visors/1.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/visors/2.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/visors/3.jpg" alt="...">
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/visors/4.jpg" alt="...">
            </div>
        </div>
    </div>




</div>